@font-face {
  font-family: "Nexa-Bold";
  src: url(../Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../Nexa-Light.otf);
}
/* --------IMPORT COLORs----------- */
button {
  font-size: 0.9rem;
  border: none;
  letter-spacing: 1px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  outline: none;
}
.accentButton {
  background-color: #021433;
  color: #fff;
  border: 1px solid #021433;
  box-shadow: 0 1px 3px #021433;
}
.accentButton:hover {
  animation-name: accentBtnHover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes accentBtnHover {
  100% {
    opacity: 0.9;
  }
}

.filledButton {
  background-color: #1a6aa2;
  color: #f8f9fa;
  border-radius: 0.25rem;
  border: 1px solid #1a6aa2;
  box-shadow: 0 1px 3px #1a6aa2;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .filledButton {
    font-size: 1.2rem;
  }
}
.filledButton:hover {
  background-color: #047aed;
  transition: all 0.3s ease-in;
}

.linkButton {
  background-color: #fff;
  box-shadow: 0 1px 3px #a19f9f;
  color: #222844;
  border: 1px solid #021433;
  border-radius: 5px;
}
.linkButton:hover {
  animation-name: linkedBtnHover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes linkedBtnHover {
  100% {
    background-color: #f0f0f0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nexa-Light";
}

header,
section,
footer {
  padding: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-Bold";
}

h1,
h2 {
  font-size: 1.7rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.55rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.15rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
  color: #021433;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

p {
  color: #222844;
}

a {
  text-decoration: none;
  color: #222844;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

figure {
  overflow: hidden;
}

ul li {
  letter-spacing: 0.03rem;
  list-style: none;
}

label {
  font-size: 1rem;
}

select {
  height: auto;
  font-family: "Nexa-Light";
  letter-spacing: 0.05rem;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #021433;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  select {
    font-size: 0.95rem;
  }
}

select:hover,
select:focus {
  color: #222844;
  background-color: #fff;
}

option {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #fff;
  font-family: "Nexa-Light";
  font-size: 1rem;
}

input {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0.75rem;
  outline: none;
}
input :focus {
  outline: 0;
  border-color: #047aed;
}
@media (min-width: 1024px) {
  input {
    padding: 1rem;
  }
}

::placeholder {
  font-family: "Nexa-Light";
  color: #525659;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

span {
  font-size: 1rem;
  line-height: 1.5;
}

textarea {
  border: 1px solid #a19f9f;
  width: 100%;
  height: 10rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.3rem 0.5rem;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  header,
section,
footer {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1.5rem 5rem;
  }

  section,
footer {
    padding: 2rem 5rem;
  }

  h1,
h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
.help {
  background-color: rgba(147, 190, 222, 0.9);
  text-align: center;
}
.help__heading {
  color: #fff;
}
.help__content {
  color: #222844;
}

@media screen and (min-width: 768px) {
  .help__heading {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #81a2ca, #8caacf, #93afd2);
  }
  .help__heading {
    text-align: left;
  }
}
.footer {
  background-color: #222844;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
.footer a,
.footer p {
  color: #f0f0f0;
}
.footer h3, .footer__social__list--text {
  display: none;
}
.footer__figure {
  width: 10rem;
  margin: 0 auto;
}
.footer__services__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.footer__services__list__item a {
  color: #f0f0f0;
}
.footer__social__list--icons {
  display: flex;
  gap: 1.5rem;
  justify-self: center;
}
.footer__social__list--icons__item a i {
  width: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-color: #fff;
    border-bottom: 7px solid #1a6aa2;
  }
  .footer__figure {
    grid-area: 1/2/2/3;
    justify-self: right;
    margin: 0;
  }
  .footer__services__list {
    grid-area: 1/1/2/2;
    flex-direction: row;
    width: max-content;
    justify-self: left;
    align-items: center;
    gap: 2rem;
  }
  .footer__services__list__item a {
    color: #222844;
  }
  .footer__social__list--icons {
    justify-self: right;
    grid-area: 2/2/3/3;
  }
  .footer__social__list--icons__item a {
    color: #222844;
  }
  .footer__copyrights {
    grid-area: 2/1/3/2;
    justify-self: left;
  }
  .footer__copyrights p {
    color: #222844;
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .footer__figure {
    width: 12rem;
  }
  .footer__social__list--icons {
    gap: 1.25rem;
  }
  .footer__social__list--icons__item a i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
}
@font-face {
  font-family: "Nexa-Bold";
  src: url(../Nexa-Bold.otf);
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../Nexa-Light.otf);
}
/* --------IMPORT COLORs----------- */
button {
  font-size: 0.9rem;
  border: none;
  letter-spacing: 1px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  outline: none;
}
.accentButton {
  background-color: #021433;
  color: #fff;
  border: 1px solid #021433;
  box-shadow: 0 1px 3px #021433;
}
.accentButton:hover {
  animation-name: accentBtnHover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes accentBtnHover {
  100% {
    opacity: 0.9;
  }
}

.filledButton {
  background-color: #1a6aa2;
  color: #f8f9fa;
  border-radius: 0.25rem;
  border: 1px solid #1a6aa2;
  box-shadow: 0 1px 3px #1a6aa2;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .filledButton {
    font-size: 1.2rem;
  }
}
.filledButton:hover {
  background-color: #047aed;
  transition: all 0.3s ease-in;
}

.linkButton {
  background-color: #fff;
  box-shadow: 0 1px 3px #a19f9f;
  color: #222844;
  border: 1px solid #021433;
  border-radius: 5px;
}
.linkButton:hover {
  animation-name: linkedBtnHover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes linkedBtnHover {
  100% {
    background-color: #f0f0f0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nexa-Light";
}

header,
section,
footer {
  padding: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-Bold";
}

h1,
h2 {
  font-size: 1.7rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.55rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.15rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: center;
  color: #021433;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

p {
  color: #222844;
}

a {
  text-decoration: none;
  color: #222844;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

figure {
  overflow: hidden;
}

ul li {
  letter-spacing: 0.03rem;
  list-style: none;
}

label {
  font-size: 1rem;
}

select {
  height: auto;
  font-family: "Nexa-Light";
  letter-spacing: 0.05rem;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #021433;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  select {
    font-size: 0.95rem;
  }
}

select:hover,
select:focus {
  color: #222844;
  background-color: #fff;
}

option {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #fff;
  font-family: "Nexa-Light";
  font-size: 1rem;
}

input {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0.75rem;
  outline: none;
}
input :focus {
  outline: 0;
  border-color: #047aed;
}
@media (min-width: 1024px) {
  input {
    padding: 1rem;
  }
}

::placeholder {
  font-family: "Nexa-Light";
  color: #525659;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

span {
  font-size: 1rem;
  line-height: 1.5;
}

textarea {
  border: 1px solid #a19f9f;
  width: 100%;
  height: 10rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.3rem 0.5rem;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  header,
section,
footer {
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 1.5rem 5rem;
  }

  section,
footer {
    padding: 2rem 5rem;
  }

  h1,
h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
.show {
  display: block;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container__figure {
  width: 7rem;
}
.header__container__hammerburger {
  color: #525659;
  cursor: pointer;
}
.header__container__hammerburger :hover {
  color: #021433;
  transform: rotate(90deg);
  font-size: 120%;
  transition: all 0.3s linear;
}
.header__navbar {
  height: 0;
  overflow: hidden;
}
.header__navbar__services-list__item a:hover {
  color: #021433;
  font-weight: 900;
}
.header__buttons {
  height: 0;
  overflow: hidden;
}

.navbar-links {
  text-align: center;
  height: auto;
}
.navbar-links ul {
  margin-top: 1rem;
  transition: all 0.3s linear;
}
.navbar-links ul li {
  margin-bottom: 0.75rem;
}

.header-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header__container__hammerburger {
    font-size: 1.5rem;
  }
  .header__container__figure {
    width: 8.5rem;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__container__figure {
    width: 10rem;
  }
  .header__container__hammerburger {
    display: none;
  }
  .header__navbar {
    height: auto;
  }
  .header__navbar__services-list {
    display: flex;
    gap: 2rem;
  }
  .header__buttons {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .header__buttons button {
    margin-left: 0.5rem;
    border-radius: 3px;
  }
}
.show {
  display: block;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  color: #222844;
  text-align: center;
}
@media (min-width: 1024px) {
  h1,
h2,
h3 {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  h3 + p,
h1 + p {
    text-align: left;
  }
}

.find-affordable-healthcare {
  background-color: rgba(147, 190, 222, 0.9);
  text-align: center;
}
.find-affordable-healthcare__content {
  color: #222844;
}
.find-affordable-healthcare__form__input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}
.find-affordable-healthcare__form__input-container__location-icon, .find-affordable-healthcare__form__input-container__gps-icon {
  color: #222844;
  padding: 10px;
}
.find-affordable-healthcare__form__input-container__place, .find-affordable-healthcare__form__input-container__treatment {
  padding: 10px;
  outline: none;
  width: 100%;
}

.active.how-it-works__protocols-list__item__container {
  color: #222844;
  border: 1px solid #047aed;
}
.active.how-it-works__protocols-list__item__container span {
  color: #047aed;
}

.how-it-works__content {
  color: #021433;
}
.how-it-works__protocols-list {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
.how-it-works__protocols-list__item__container {
  font-family: "Nexa-Bold";
  color: #a19f9f;
  padding: 0.75rem 1rem;
  border: 1px solid #a19f9f;
  text-align: start;
  border-radius: 0.5rem;
  display: block;
  cursor: pointer;
}
.how-it-works__protocols-list__item__container__heading {
  margin-bottom: 0;
}
.how-it-works__protocols-list__item__container__heading span {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.how-it-works__protocols-list__item__article__figure {
  width: 90%;
  margin: auto;
  height: 100%;
}
.how-it-works__protocols-list__item__article__figure__image {
  margin: 1rem 0;
  background-size: cover;
  background-position: left center;
}
.how-it-works__protocols-list__item__article__subheading {
  text-align: center;
  color: #222844;
}
.how-it-works__protocols-list__item__article__content {
  color: #021433;
  margin-bottom: 0;
}

.slick-initialized .slick-slide {
  display: grid;
}

.world-class-expert-doctors {
  background-color: #222844;
  overflow: hidden;
}
.world-class-expert-doctors__heading, .world-class-expert-doctors__content {
  color: #fff;
}
.world-class-expert-doctors__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.world-class-expert-doctors__list__item {
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 30rem;
}
.world-class-expert-doctors__list__item__figure {
  height: 100%;
  overflow: hidden;
}
.world-class-expert-doctors__list__item__figure__image {
  height: 100%;
  object-position: center 20%;
}
.world-class-expert-doctors__list__item__doctors-description {
  background-color: #fff;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 3px solid rgba(147, 190, 222, 0.9);
  height: 100%;
}
.world-class-expert-doctors__list__item__doctors-description__name {
  color: #1a6aa2;
  margin-bottom: 0.5rem;
}
.world-class-expert-doctors__list__item__doctors-description__name::before {
  margin: 0 0.1rem;
  display: inline-block;
  transform: translateY(-0.3rem);
  content: "";
  line-height: 0;
  border-bottom: 0.15rem solid #1a6aa2;
  width: 2rem;
}
@media (min-width: 1024px) {
  .world-class-expert-doctors__list__item__doctors-description__name {
    font-size: 1.25rem;
  }
}
.world-class-expert-doctors__list__item__doctors-description__details {
  padding-left: 2.5rem;
  color: #222844;
  font-size: 0.9rem;
}
.world-class-expert-doctors__list__item__doctors-description__details li {
  margin: 0.5rem 0;
}

.featured-medical-treatments__list {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .featured-medical-treatments__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .featured-medical-treatments__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 3rem);
    gap: 0.7rem;
  }
}
.featured-medical-treatments__list__item {
  position: relative;
  height: 22rem;
}
.featured-medical-treatments__list__item__figure {
  height: 100%;
}
.featured-medical-treatments__list__item__figure__image {
  height: 100%;
  object-position: center center;
}
.featured-medical-treatments__list__item__details-container {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #021433 0%, #222844 30%, transparent 100%);
}
.featured-medical-treatments__list__item__details-container__content {
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.featured-medical-treatments__list__item__details-container__content p {
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
  color: #fff;
  margin-left: 1rem;
}
.featured-medical-treatments__list__item__details-container__content__treatment {
  font-family: "Nexa-Bold";
  font-size: 0.9rem;
}
.featured-medical-treatments__list__item__details-container__content__no-of-specialists {
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .featured-medical-treatments__list__item--dentistry, .featured-medical-treatments__list__item--cancer, .featured-medical-treatments__list__item--cardiologic-treatment, .featured-medical-treatments__list__item--multi-organ-transplant, .featured-medical-treatments__list__item--orthopedics-surgery, .featured-medical-treatments__list__item--infertility-treatment {
    height: auto;
  }
  .featured-medical-treatments__list__item--dentistry {
    grid-area: 1/1/5/2;
  }
  .featured-medical-treatments__list__item--multi-organ-transplant {
    grid-area: 5/1/11/2;
  }
  .featured-medical-treatments__list__item--cancer {
    grid-area: 1/2/6/3;
  }
  .featured-medical-treatments__list__item--orthopedics-surgery {
    grid-area: 6/2/11/3;
  }
  .featured-medical-treatments__list__item--infertility-treatment {
    grid-area: 5/3/11/4;
  }
  .featured-medical-treatments__list__item--cardiologic-treatment {
    grid-area: 1/3/5/4;
  }
}

.exclusive-services {
  width: 100%;
  background-color: #f0f0f0;
}
.exclusive-services__content {
  color: #222844;
}
.exclusive-services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 0.625rem;
}
@media screen and (min-width: 768px) {
  .exclusive-services__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .exclusive-services__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.exclusive-services__list__item {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0 1rem 1rem 1rem;
}
.exclusive-services__list__item__figure {
  width: auto;
}
.exclusive-services__list__item__figure img {
  width: auto;
}
.exclusive-services__list__item__figure figcaption {
  font-size: 0.85rem;
  font-family: "Nexa-Bold";
  color: #525659;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .find-affordable-healthcare__form {
    display: flex;
  }
  .find-affordable-healthcare__form__input-container {
    margin-bottom: 0;
  }
  .find-affordable-healthcare__form__input-container__treatment {
    border-left: 1px solid #a19f9f;
  }
  .find-affordable-healthcare__form__input-container__flex-shrink {
    flex-shrink: 1.2;
  }

  .how-it-works__protocols-list {
    position: relative;
  }
  .how-it-works__protocols-list__item__container {
    width: 45%;
  }
  .how-it-works__protocols-list__item__article {
    position: absolute;
    bottom: 1rem;
    left: 50%;
  }
  .how-it-works__protocols-list__item__article__figure {
    max-width: 300px;
  }
  .how-it-works__protocols-list__item__article__figure__image {
    background-size: contain;
    height: 80%;
  }
}
@media (min-width: 1024px) {
  .find-affordable-healthcare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 25rem;
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .find-affordable-healthcare__content {
    width: 50%;
    margin-bottom: 2rem;
  }
  .find-affordable-healthcare__form {
    width: 65%;
    display: flex;
  }
  .find-affordable-healthcare__form__input-container {
    margin-bottom: 0;
  }

  .how-it-works__content {
    margin-bottom: 2rem;
    text-align: left;
  }
  .how-it-works__protocols-list__item__container {
    padding: 1.2rem;
  }
  .how-it-works__protocols-list__item__container__heading {
    font-size: 1.25rem;
  }
  .how-it-works__protocols-list__item__container__heading span {
    margin-right: 2rem;
  }
  .how-it-works__protocols-list__item__article__figure {
    max-width: 450px;
  }
  .how-it-works__protocols-list__item__article__subheading {
    font-size: 1.1rem;
  }
}
/* the slides */
.slick-slide {
  margin: 0 10px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  bottom: -2rem !important;
  width: 0 !important;
  display: flex !important;
}
.slick-dots li button:before {
  color: #fff !important;
  font-size: 0.8rem !important;
  opacity: 0.5 !important;
}
.slick-dots li.slick-active button:before {
  font-size: 0.8rem !important;
  color: #047aed !important;
  opacity: 1 !important;
}

.featured-medical-treatments .slick-dots li button:before {
  color: #222844 !important;
  opacity: 0.5 !important;
}
.featured-medical-treatments .slick-dots li.slick-active button:before {
  color: #047aed !important;
  opacity: 1 !important;
}/*# sourceMappingURL=index.css.map */