.help {
  background-color: $sky-blue;
  text-align: center;
  &__heading {
    color: $white;
  }
  &__content {
    color: $dark-blue;
  }
}

@include respond-above-tablet-view {
  .help {
    &__heading {
      text-align: center;
    }
  }
}

@include desktop-view-only {
  .help {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
      text-align: left;
    }
    background-image: linear-gradient(
      to right,
      $sky-blue-1,
      $sky-blue-2,
      $sky-blue-3
    );
  }
}
