// SHOWCASE
.showcase {
  @include respond-above-tablet-view {
    background-color: $sky-blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__heading {
      font-family: "Nexa-Light";
      margin-bottom: 0;
      color: $dark-blue;
      span {
        color: $very-dark-blue;
        text-decoration: underline;
        font-family: "Nexa-Bold";
      }
    }
  }
  @include tablet-view-only {
    height: 15rem;
    span {
      font-size: 2rem;
    }
  }
  @include desktop-view-only {
    height: 18rem;
    span {
      font-size: 2.5rem;
    }
  }
}
