.toggle-list {
	&__item {
		&__container {
			display: grid;
			grid-template-columns: auto 1fr auto;
			align-items: center;
			margin-bottom: 0.5rem;
			&__button {
				:hover {
					color: $dark-blue;
					font-size: 125%;
				}
				margin-right: 0;
				justify-self: flex-end;
			}
			i {
				color: $dodger-blue;
				width: 1rem;
				text-align: center;
				font-size: 1.2rem;
				cursor: pointer;
			}

			&__heading {
				color: $dodger-blue;
				margin-bottom: 0;
				justify-self: flex-start;
				font-size: 1.1rem;
			}
		}

		&__text {
			background-color: $very-light-blue;
			text-align: justify;
			padding: 0.5rem 0;
		}
	}
}

@include respond-above-tablet-view {
	.toggle-list {
		&__item {
			&__container {
				&__heading {
					margin-left: 0;
					font-size: 1.15rem;
				}
			}
		}
	}
}
@include respond-above-tablet-view {
	.toggle-list {
		&__item {
			&__container {
				&__heading {
					font-size: 1.2rem;
				}
			}
		}
	}
}

.toggle-list__item__text {
	display: none;
}

.toggle-list__item__text.show {
	display: block;
}
