$dodger-blue-light: #047aed;
$dodger-blue: hsl(205, 72%, 37%);
$very-dark-blue: #021433;
$very-dark-blue-light: rgba(2, 20, 51, 0.9);
$dark-grey: #525659;
$white: #fff;
$black: #000;
$dark-blue: #222844;
$grey: #a19f9f;
$very-light-blue: #e0fbfc;
$light-grey: #f0f0f0;
$very-light-grey: #f8f9fa;
$sky-blue: rgba(147, 190, 222, 0.9);
$sky-blue-1: hsl(213, 41%, 65%);
$sky-blue-2: hsl(213, 41%, 68%);
$sky-blue-3: hsl(213, 41%, 70%);
$grey-1: hsl(210, 22%, 49%);
$grey-2: hsl(209, 23%, 60%);
$grey-3: hsl(211, 27%, 70%);
$grey-4: hsl(210, 31%, 80%);
$grey-5: hsl(212, 33%, 89%);
$grey-6: hsl(210, 36%, 96%);
